<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recording Basics</title>
</head>

<body>
    {% load static %}
    <input type="button" value="Start" id="runner">
        <audio id="player" controls></audio>
    </form>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'record/js/record2.js' %}" ></script>
</body>

</html>